<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/85f57872c4.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login-style.css" type="text/css">
    <title>Ingresar</title>
</head>
<body>
    <main>
        <section class="login-container">
            <h2 class="login-header">ACCEDER</h2>
            <form class="login-form" method="GET" action="/">
                <div>
                    <label for="username">Usuario/mail:</label>
                    <input type="text" name="username" placeholder="johndow@mail.com" id="username" minLength="4" required>
                    <span class="feedback"></span>
                </div>
                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" placeholder="Password" id="password" minLength="8" required>
                    <span class="feedback"></span> 
                </div>
                <button type="submit">Iniciar sesión <i class="fa-solid fa-lock-keyhole"></i> </button>
            </form>
            <h3><a href="#">Olvide mi contraseña</a></h3>
            <h3>No tenes cuenta? <a href="#">Crear cuenta</a></h3>
        </section>
    </main>
</body>
</html>