<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nosotros-style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/85f57872c4.js" crossorigin="anonymous"></script>
    <title>BiciMundo-Quienes Somos</title>
</head>
<body>
    <header>
        <div class="top-header">
            <form class="search-bar" method="GET" action="/">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" class="search-input" placeholder="Buscar bicicletas y accesorios.">
            </form>
            <figure class="logo">
                <a href="/"><img src="/images/logo3.png" alt="logo-bicimundo"></a>
            </figure>
            <nav class="top-navbar">
                <ul>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="sign-in">
                <a href="/ingresar">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
                <a href="/carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
            </div>
        </div>
        <div class="down-header">
            <nav class="down-navbar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="/nosotros">QUIENES SOMOS</a></li>
                    <li><a href="/contacto">CONTACTO</a></li>
                    <li><a href="/ayuda">AYUDA</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <nav class="navigation">
                <label class="burger-menu1" for="burger"><i class="fa-solid fa-bars"></i></label>
                <input type="checkbox" class="burger-check" id="burger">
                <ul class="burger-options">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="/nosotros">Quienes somos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                    <li><a href="/carrito">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="nosotros-header">
            <figure>
                <img src="/images/nosotros-header.jpg" alt="Imagen nosotros">
            </figure>
            <h2 class="nosotros-title">SOMOS CICLISTAS, ES NUESTRA PASIÓN Y TAMBIÉN ES NUESTRO TRABAJO</h2>
        </div>
        <section class="nosotros">
            <article>
                <h4>Todas las personas que cada día hacemos <a href="/">BiciMundo</a> tenemos como objetivo ayudarte a descubrir la bicicleta que te llevará al próximo gran reto.</h4>
                <p>Nuestra historia es sencilla. No encontrábamos ninguna web 100% segura para comprar bicicletas, así que decidimos crearla. La visión nace en 2022, cuando hablamos con más de 300 ciclistas y triatletas que habían comprado una bicicleta por Internet y descubrimos que la mayoría de ellos había tenido malas experiencias y había sufrido algún engaño. Así que desde el inicio tuvimos claro que el objetivo debía ser construir un sistema 100% transparente, cómodo y seguro basado en proporcionar la mejor experiencia de cliente posible.</p>
                <p>Entendemos que la mejor forma de crear negocios es aportando valor y solucionando problemas. Y eso es lo que hacemos. No vendemos bicicletas, vendemos confianza porque nuestro objetivo no es que te compres la bicicleta más cara ni la que nos deje una comisión más alta, sino la que realmente necesitas para tus hábitos, objetivos y retos deportivos.</p>
            </article>
            <article>    
                <h4 class="nosotros-grupo">Esta es nuestra grupeta</h4>
                <div>
                    <figure>
                        <img src="/images/nosotros-grupo.jpg" alt="Imagen de grupo">
                    </figure>
                    <p class="nosotros-slogan">Ofrecer un trato cercano y un asesoramiento personalizado forma parte de nuestro ADN y va a seguir siendo así.</p>
                </div>
            </article>
            <article>
                <h4>¿QUÉ RUTA SEGUIREMOS?</h4>
                <p>Nos motiva mucho el futuro y seguir transformando el mercado de la bicicleta a través de nuestro innovador modelo y con una experiencia de cliente única. Somos una web, pero el trato cercano y el asesoramiento forman parte de nuestro ADN y va a seguir siendo así.</p>
                <p>Nos entusiasma asesorar a miles de ciclistas, ayudar a cientos de pequeñas tiendas locales a vender sus bicicletas por toda Argentina y asistir a la digitalización de marcas y fabricantes. El ciclismo no es sólo nuestro trabajo, también es nuestra pasión.</p>
            </article>
        </section>
    </main>
    <footer>
        <section class="social-media">
            <h5>SEGUINOS EN REDES SOCIALES</h5>
            <div class="social-media-icon">
                <a href="https://es-la.facebook.com" target="_blanck"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es" target="_blanck"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blanck"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blanck"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </section>
        <div class="top-footer">
            <section class="top-footer-section-bicimundo">
                <h4>BiciMundo</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </section>
            <section class="top-footer-section-links">
                <h4>Links</h4>
                <ul>
                    <li><a href="/nosotros">Quienes somos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </section>
            <section class="top-footer-section-cuenta">
                <h4>Cuenta</h4>
                <ul>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                </ul>
            </section>
            <section class="top-footer-section-contacto">
                <h4>Contacto</h4>
                <ul>
                    <li><i class="fa-solid fa-phone"></i>4982-1111 / 4982-2222</li>
                    <li><i class="fa-solid fa-comment-sms"></i>+5491156781234</li>
                    <li><i class="fa-regular fa-envelope"></i>ventas@bicimundo.com</li>
                    <li><i class="fa-solid fa-location-pin"></i>Av. Central 123, CABA, BA, Argentina</li>
                    <li><i class="fa-regular fa-clock"></i>10hs a 18hs</li>
                </ul>
            </section>
        </div>
        <div class="bottom-footer">
            <p class="copyright-1">Made by <strong>The blinders</strong> Argentina 2022</p> 
            <p class="copyright-2"><i class="fa-regular fa-copyright"></i>Todos los derechos reservados</p>
            <p class="copyright-3">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock.</p>
        </div>
    </footer>
</body>
</html>