<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/cart-style.css" type="text/css">
    <script src="https://kit.fontawesome.com/85f57872c4.js" crossorigin="anonymous"></script>
    <title>Carrito</title>
</head>
<body>
    <header>
        <div class="top-header">
            <form class="search-bar" method="GET" action="/">
                <button type="submit" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" class="search-input" placeholder="Buscar bicicletas y accesorios.">
            </form>
            <figure class="logo">
                <a href="/"><img src="/images/logo3.png" alt="logo-bicimundo"></a>
            </figure>
            <nav class="top-navbar">
                <ul>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
            <div class="sign-in">
                <a href="/ingresar">
                    <i class="fa-solid fa-circle-user"></i>
                </a>
            </div>
        </div>
        <div class="down-header">
            <nav class="down-navbar">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#">PRODUCTOS</a></li>
                    <li><a href="/nosotros">QUIENES SOMOS</a></li>
                    <li><a href="/contacto">CONTACTO</a></li>
                    <li><a href="/ayuda">AYUDA</a></li>
                </ul>
            </nav>
        </div>
        <div class="burger-menu">
            <nav class="navigation">
                <label class="burger-menu1" for="burger"><i class="fa-solid fa-bars"></i></label>
                <input type="checkbox" class="burger-check" id="burger">
                <ul class="burger-options">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="/nosotros">Quienes somos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                    <li><a href="/carrito">Carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="cart">
            <h2>Tu carrito<i class="fa-solid fa-cart-shopping"></i></h2>
            <div class="cart-table-container">
                <table class="cart-table">
                    <thead>    
                        <tr>
                            <td class="cart-table-image">Imagen</td>
                            <td class="cart-table-description">Producto</td>
                            <td class="cart-table-price">Precio</td>
                            <td class="cart-table-quantity">Cantidad</td>
                            <td class="cart-table-total">Total</td>
                            <td class="cart-table-delete"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="cart-table-image"><img src="/images/bicicletaRodado29olmoWish1.jpg" alt="Imagen de producto"></td>
                            <td class="cart-table-description"><p>BICICLETA MTB RODADO 29 OLMO WISH 290 ENTRY</p></td>
                            <td class="cart-table-price">$ 59.087</td>
                            <td class="cart-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="2"></td>
                            <td class="cart-table-total">$ 118.174</td>
                            <td class="cart-table-delete"><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td class="cart-table-image"><img src="/images/cajaDeHerramientasSuperB.jpg" alt="Imagen de producto"></td>
                            <td class="cart-table-description"><p>CAJA DE HERRAMIENTAS SUPER B TBA500 27 PIEZAS</p></td>
                            <td class="cart-table-price">$ 19.720</td>
                            <td class="cart-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="2"></td>
                            <td class="cart-table-total">$ 39440</td>
                            <td class="cart-table-delete"><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                        <tr>
                            <td class="cart-table-image"><img src="/images/luzTraseraVanHalen.jpg" alt="Imagen de producto"></td>
                            <td class="cart-table-description"><p>LUZ TRASERA VAN HALEN VAN040 120 LM AUTOMATICA</p></td>
                            <td class="cart-table-price">$ $3.570</td>
                            <td class="cart-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="5"></td>
                            <td class="cart-table-total">$ 17850</td>
                            <td class="cart-table-delete"><a href="#"><i class="fa-solid fa-trash"></i></a></td>
                        </tr>
                    </tbody>    
                </table>
            </div>
            <div class="cart-bottom">
                <div class="total-price-container">
                    <div class="total-price">
                        <p> Precio total : $ 175464</p>
                    </div>
                </div>
                <div class="return">
                    <p><a href="/"><i class="fa-solid fa-angle-left"></i> Seguir comprando</a></p>
                </div>
                <div class="confirm-cart">
                    <p><a href="#">Confirmar</a></p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="social-media">
            <h5>SEGUINOS EN REDES SOCIALES</h5>
            <div class="social-media-icon">
                <a href="https://es-la.facebook.com" target="_blanck"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/?lang=es" target="_blanck"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/" target="_blanck"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/" target="_blanck"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </section>
        <div class="top-footer">
            <section class="top-footer-section-bicimundo">
                <h4>BiciMundo</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                </ul>
            </section>
            <section class="top-footer-section-links">
                <h4>Links</h4>
                <ul>
                    <li><a href="/nosotros">Quienes somos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a href="/ayuda">Ayuda</a></li>
                </ul>
            </section>
            <section class="top-footer-section-cuenta">
                <h4>Cuenta</h4>
                <ul>
                    <li><a href="/register">Crear Cuenta</a></li>
                    <li><a href="/ingresar">Iniciar Sesión</a></li>
                </ul>
            </section>
            <section class="top-footer-section-contacto">
                <h4>Contacto</h4>
                <ul>
                    <li><i class="fa-solid fa-phone"></i>4982-1111 / 4982-2222</li>
                    <li><i class="fa-solid fa-comment-sms"></i>+5491156781234</li>
                    <li><i class="fa-regular fa-envelope"></i>ventas@bicimundo.com</li>
                    <li><i class="fa-solid fa-location-pin"></i>Av. Central 123, CABA, BA, Argentina</li>
                    <li><i class="fa-regular fa-clock"></i>10hs a 18hs</li>
                </ul>
            </section>
        </div>
        <div class="bottom-footer">
            <p class="copyright-1">Made by <strong>The blinders</strong> Argentina 2022</p> 
            <p class="copyright-2"><i class="fa-regular fa-copyright"></i>Todos los derechos reservados</p>
            <p class="copyright-3">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock.</p>
        </div>
    </footer>
</body>
</html>