* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cart {
    width: 95vw;
    max-width: 900px;
    border: 2px dotted black;
    margin: auto;
    padding-bottom: 30px;
}

.cart h2 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.cart h2 i {
    color:  rgb(51, 186, 51);
    padding: 10px;
}

.cart-table-container {
    overflow-x: auto;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.cart-table thead td{
    background-color: orangered;
    color: white;
    font-weight: 400;
    padding:5px 0;
    font-size: 15px;
}

.cart-table td {
    text-align: center;
}

.cart-table tbody tr {
    border-bottom: 1px solid rgb(67, 61, 61);
}

.cart-table-image {
    width: 200px;
}

.cart-table-image img {
    width: 90%;
    height: 100px;
    padding: 2px 0 2px 0;
    object-fit: contain;
}

.cart-table-description {
    width: 200px;
}

.cart-table td .product-quantity {
    width: 30px;
    padding: 1px;
    text-align: center;
}  

.cart-table-price, .cart-table-total {
    width: 80px;
}

.cart-table-quantity {
    width: 70px;
}

.cart-table-delete {
    width: 40px;
}

.cart-table-delete i {
    color: grey;
}

/*CART BOTTOM SECTION*/

.cart-bottom {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.cart-bottom .total-price-container {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    font-weight: bold;
}

.cart-bottom a {
    text-decoration: none;
}

.cart-bottom .confirm-cart p {
    font-size: 18px;
    padding: 5px;
    background-color: rgb(51, 186, 51);
    border: none;
    border-radius: 6%;
}

.cart-bottom .confirm-cart p a {
    color: white;
}